body {
    background-color: rgb(0, 0, 45);
}

div {
    font-family: sans-serif;
}

.chat {
    width: 89%;
    height: 500px;
    border: white 1px solid;
    text-align: left;
    display: none;
    float: left;
    overflow-y: scroll;
    color: white;
}

.login {
    width: 300px;
    height: 200px;
    background-color: lightblue;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
}

    .login input {
        border-radius: 4px;
        border-style: none;
        height: 30px;
        font-size: 22px;
        width: 90%;
        background-color: rgb(203, 246, 260);
    }



button {
    border-radius: 5px;
    border-style: none;
    height: 50px;
    width: 200px;
    margin-top: 10px;
}

.users {
    width: 10%;
    height: 500px;
    border: white 1px solid;
    text-align: left;
    display: none;
    float: left;
    color: orange;
    font-size: 20px;
        
}

    .users li {
        list-style: none;
        margin: 0;
        margin-left: -30px;
    }

ul {
    float: left;
    margin: 0;
}

.container {
    width: 100%;
    text-align: center;
}

#Caller {
    color: lightblue;
}

#error {
    color: red;
    font-size: 15px
}

#textu {
    width: 80%;
    border-style: none;
    border: white 1px solid;
    height: 40px;
    font-size: 20px;
}
li {
    color: white;
}

#priv {
    color: lightgreen;
}
.textbox {
    display: none;
}
#who {
    color: white;
}